/*-------------------------------------------*\
    body
\*-------------------------------------------*/
body {
  /* dimensions */
  width: 100%;
  height: 100%;

  /* position */
  margin: 0px;
  position: absolute;

  /* text */
  font-size: 16px;

  /* content display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* colors */
  /* background-color: #000000; */
}

/*-------------------------------------------*\
    container
\*-------------------------------------------*/
.container {
  /* content display */
  flex: 0.6;
  display: flex;
  flex-direction: column;

  /* others */
  border-radius: 8px;
  border: 8px solid #d5941b;
  box-shadow: 10px 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.row {
  /* content display */
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  /* others */
  padding: 8px;
}

.button-fa-play-circle {
  background-color: #518f39;
  border-radius: 50%;
  font-size: 16px;
  padding: 8px;
}

.button-fa-pause {
  background-color: #b82f28;
  font-size: 16px;
  padding: 8px;
}

#addButton > i {
  /* dimensions */
  font-size: 64px;
}

#addButton > i:hover {
  /* others */
  color: #518f39;
}

/*-------------------------------------------*\
    Modal
\*-------------------------------------------*/
#modal {
  /* position */
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  
  /* dimensions */
  width: 400px;
  height: 300px;
  max-width: 40%;
  max-height: 20%;

  /* others */
  transition: 200ms ease-in;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 50px;
  background-color: #ffffff;
  z-index: 1;
}

#modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}