/*-------------------------------------------*\
    body
\*-------------------------------------------*/
body {
  /* position */
  margin: 0px;
  position: absolute;

  /* dimensions */
  width: 100%;
  height: 100%;

  /* text */
  font-size: 16px;

  /* content display */
  display: flex;
  justify-content: center;
}

/*-------------------------------------------*\
    container
\*-------------------------------------------*/
.container {
  /* position */
  margin-top: 200px;

  /* dimensions */
  height: 600x;
  max-height: 60%;

  /* content display */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  /* others */
  border-radius: 8px;
  border: 8px solid #d5941b;
  box-shadow: 10px 10px;
}

.row {
  /* content display */
  display: flex;
  justify-content: center;
  
  /* others */
  padding: 8px;
}

/*-------------------------------------------*\
    Main Table
\*-------------------------------------------*/
#mainTable {
  /* others */
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

#mainTable td, th {
  /* text */
  text-align: left;
  
  /* others */
  border: 1px solid #dddddd;
  padding: 8px;
}

#mainTable tr:nth-child(even) {
  /* others */
  background-color: #dddddd;
}

.button-fa-play-circle {
  /* text */
  font-size: 16px;

  /* others */
  background-color: #518f39;
  border-radius: 50%;
  padding: 8px;
}

.button-fa-pause {
  /* text */
  font-size: 16px;
  
  /* others */
  background-color: #b82f28;
  padding: 8px;
}

#addButton > i {
  /* text */
  font-size: 64px;
}

#addButton > i:hover {
  /* others */
  color: #518f39;
}

/*-------------------------------------------*\
    Modal
\*-------------------------------------------*/
#createTransportationUnitModal {
  /* position */
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  
  /* dimensions */
  width: 400px;
  height: 300px;

  /* content display */
  text-align: center;

  /* others */
  transition: 200ms ease-in;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 50px;
  background-color: #ffffff;
  z-index: 1;
}

#createTransportationUnitModal.active {
  /* position */
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  /* position */
  position: fixed;

  /* dimensions */
  width: 100%;
  height: 100%;

  /* others */
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

#overlay.active {
  /* others */
  pointer-events: all;
  opacity: 1;
}